.carrossel {
    margin: 2em 0;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 1em;
  }
  
  .card-imagem {
    width: 100%;
    height: auto;
  }
  
  .card-infos {
    margin-top: 1em;
  }
  
  .card-titulo {
    font-size: 18px;
    color: orange;
    margin: 0.5em 0;
  }
  
  .card-preco {
    font-size: 16px;
    color: rgb(7, 7, 104);
    font-weight: bold;
  }
  